/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable csstree/validator */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto+Slab&display=swap');

* {
  padding: 0;
  margin: 0;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 30px;
}

.nav-links-item {
  color: #0290ff !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
}

.info {
  margin-bottom: 0.7rem;
}

.cate {
  opacity: 0.5;
  font-family: 'Montserrat' sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  font-size: 0.875rem;
}

.title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
}

.auth {
  font-family: 'Roboto Slab' sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  font-size: 0.875rem;
}

.nav-links li {
  margin-left: 50px;
  font-size: 20px;
}

.nav-links div {
  display: flex;
  padding-right: 1rem;
}

.active-link {
  color: #121212;
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: 'Montserrat' sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
}

a {
  text-decoration: none;
}

.book-div {
  margin-top: 20px;
  margin-bottom: 1.2rem;
  padding: 15px 20px;
}

.book-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(214, 214, 214);
  margin: 1rem;
  background-color: #fff;
}

.book-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 1rem;
  margin-right: 2rem;
}

.bookactions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 250px;
}

.book-progress {
  display: flex;
  flex-direction: column;
}

.Oval-2 {
  width: 60px;
  height: 60px;
  border-top: 5px solid  #379cf6;
  border-right: 5px solid  #379cf6;
  border-bottom: 5px solid#bbbbbb;
  border-left: 5px solid#bbbbbb;
  border-radius: 50%;
  transform: rotate(45deg);
}

.-Percent-Complete {
  font-family: 'Montserrat' sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Completed {
  opacity: 0.5;
  font-family: 'Montserrat' sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Current-Chapter {
  opacity: 0.5;
  font-family: 'Roboto Slab' sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Update-progress {
  font-family: 'Roboto Slab' sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  padding: 0.7rem 2rem;
  background-color: #0290ff;
}

.Current-Lesson {
  font-family: 'Roboto Slab' sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.book-buttons {
  display: flex;
  align-items: center;
}

.Line-2-1 {
  width: 0.125rem;
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
  background-color: #e8e8e8;
}

.book,
.book-buttons {
  padding-top: 20px;
}

.container-div {
  padding: 50px;
  background-color: #f3f3f3;
}

.form-input {
  margin: 0.5rem;
}

.form-container {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.button {
  color: #4386bf;
  border: none;
  background-color: #fff;
  font-family: 'Roboto Slab', serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 0.875rem;
  font-weight: 300;
}

.button:hover {
  color: #5591c5;
  transition: 0.5s;
  cursor: pointer;
}

.input-field {
  width: 300px;
  border-radius: 4px;
  border: solid 1px #fff;
  background-color: #fff;
  font-size: medium;
  padding: 0.7rem;
}

.input-field:focus {
  outline: none;
}

.Line-2 {
  width: 1.5px;
  height: 1.5rem;
  margin: 0.75rem 1.063rem 0 0.938rem;
  background-color: #e8e8e8;
}

.form-title {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: hsl(0, 0%, 53%);
}

.button-add {
  background-color: #0290ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 2rem;
}

.button-add:hover {
  background-color: #118dec;
  color: #d4d4d4;
  transition: 0.5s;
  cursor: pointer;
}
